<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <display-name>Library-Management</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <filter>
    <filter-name>PreventBackFilter</filter-name>
    <filter-class>PreventBackFilter</filter-class>
  </filter>
  <filter>
    <filter-name>PreventCacheFilter</filter-name>
    <filter-class>PreventCacheFilter</filter-class>
  </filter>
  <filter>
    <filter-name>Authentication</filter-name>
    <filter-class>user.Authentication</filter-class>
  </filter>
  <servlet>
    <servlet-name>IndexServlet</servlet-name>
    <servlet-class>IndexServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IndexServlet</servlet-name>
    <url-pattern>/IndexServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>IndexLogin</servlet-name>
    <jsp-file>/IndexLogin.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>IndexLogin</servlet-name>
    <url-pattern>/IndexLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>user.Login</servlet-class>
  </servlet>
  <filter>
    <filter-name>ValidateForm</filter-name>
    <filter-class>user.ValidateForm</filter-class>
  </filter>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <filter-mapping>
    <filter-name>ValidateForm</filter-name>
    <url-pattern>/Login</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>Navigation</servlet-name>
    <servlet-class>user.Navigation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Navigation</servlet-name>
    <url-pattern>/Navigation</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetName</servlet-name>
    <servlet-class>user.GetName</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetName</servlet-name>
    <url-pattern>/GetName</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>StudentHomePage</servlet-name>
    <jsp-file>/StudentHomePage.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentHomePage</servlet-name>
    <url-pattern>/StudentHomePage</url-pattern>
  </servlet-mapping>
  <filter-mapping>
    <filter-name>Authentication</filter-name>
    <url-pattern>/StudentHomePage</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>PreventBackFilter</filter-name>
    <url-pattern>/StudentHomePage</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>PreventCacheFilter</filter-name>
    <url-pattern>/StudentHomePage</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>AdminHomePage</servlet-name>
    <jsp-file>/AdminHomePage.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminHomePage</servlet-name>
    <url-pattern>/AdminHomePage</url-pattern>
  </servlet-mapping>
  <filter-mapping>
    <filter-name>Authentication</filter-name>
    <url-pattern>/AdminHomePage</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>PreventBackFilter</filter-name>
    <url-pattern>/AdminHomePage</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>PreventCacheFilter</filter-name>
    <url-pattern>/AdminHomePage</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>ViewProfile</servlet-name>
    <jsp-file>/ViewProfile.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewProfile</servlet-name>
    <url-pattern>/ViewProfile</url-pattern>
  </servlet-mapping>
  <filter-mapping>
    <filter-name>PreventBackFilter</filter-name>
    <url-pattern>/ViewProfile</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>PreventCacheFilter</filter-name>
    <url-pattern>/ViewProfile</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>SearchPage</servlet-name>
    <jsp-file>/SearchPage.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchPage</servlet-name>
    <url-pattern>/SearchPage</url-pattern>
  </servlet-mapping>
  <filter-mapping>
    <filter-name>PreventBackFilter</filter-name>
    <url-pattern>/SearchPage</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>PreventCacheFilter</filter-name>
    <url-pattern>/SearchPage</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>BorrowBook</servlet-name>
    <jsp-file>/BorrowBook.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>BorrowBook</servlet-name>
    <url-pattern>/BorrowBook</url-pattern>
  </servlet-mapping>
  <filter-mapping>
    <filter-name>PreventBackFilter</filter-name>
    <url-pattern>/BorrowBook</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>PreventCacheFilter</filter-name>
    <url-pattern>/BorrowBook</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>ReturnBook</servlet-name>
    <jsp-file>/ReturnBook.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReturnBook</servlet-name>
    <url-pattern>/ReturnBook</url-pattern>
  </servlet-mapping>
  <filter-mapping>
    <filter-name>PreventBackFilter</filter-name>
    <url-pattern>/ReturnBook</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>PreventCacheFilter</filter-name>
    <url-pattern>/ReturnBook</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>RenewBook</servlet-name>
    <jsp-file>/RenewBook.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>RenewBook</servlet-name>
    <url-pattern>/RenewBook</url-pattern>
  </servlet-mapping>
  <filter-mapping>
    <filter-name>PreventBackFilter</filter-name>
    <url-pattern>/RenewBook</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>PreventCacheFilter</filter-name>
    <url-pattern>/RenewBook</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>PayFine</servlet-name>
    <jsp-file>/PayFine.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>PayFine</servlet-name>
    <url-pattern>/PayFine</url-pattern>
  </servlet-mapping>
  <filter-mapping>
    <filter-name>PreventBackFilter</filter-name>
    <url-pattern>/PayFine</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>PreventCacheFilter</filter-name>
    <url-pattern>/PayFine</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>SetFine</servlet-name>
    <servlet-class>fine.SetFine</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SetFine</servlet-name>
    <url-pattern>/SetFine</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>getFine</servlet-name>
    <servlet-class>fine.getFine</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getFine</servlet-name>
    <url-pattern>/getFine</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddStudent</servlet-name>
    <servlet-class>student.AddStudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddStudent</servlet-name>
    <url-pattern>/AddStudent</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RemoveStudent</servlet-name>
    <servlet-class>student.RemoveStudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveStudent</servlet-name>
    <url-pattern>/RemoveStudent</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddBook</servlet-name>
    <servlet-class>book.AddBook</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddBook</servlet-name>
    <url-pattern>/AddBook</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetBook</servlet-name>
    <servlet-class>book.GetBook</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetBook</servlet-name>
    <url-pattern>/GetBook</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetMyBook</servlet-name>
    <servlet-class>book.GetMyBook</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetMyBook</servlet-name>
    <url-pattern>/GetMyBook</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateOnBorrow</servlet-name>
    <servlet-class>book.UpdateOnBorrow</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateOnBorrow</servlet-name>
    <url-pattern>/UpdateOnBorrow</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateOnReturn</servlet-name>
    <servlet-class>book.UpdateOnReturn</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateOnReturn</servlet-name>
    <url-pattern>/UpdateOnReturn</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateOnRenew</servlet-name>
    <servlet-class>book.UpdateOnRenew</servlet-class>
  </servlet>
  <filter>
    <filter-name>CheckUpdateCount</filter-name>
    <filter-class>book.CheckUpdateCount</filter-class>
  </filter>
  <servlet-mapping>
    <servlet-name>UpdateOnRenew</servlet-name>
    <url-pattern>/UpdateOnRenew</url-pattern>
  </servlet-mapping>
  <filter-mapping>
    <filter-name>CheckUpdateCount</filter-name>
    <url-pattern>/UpdateOnRenew</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>GetAllBook</servlet-name>
    <servlet-class>book.GetAllBook</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAllBook</servlet-name>
    <url-pattern>/GetAllBook</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ViewAllBook</servlet-name>
    <jsp-file>/ViewAllBook.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewAllBook</servlet-name>
    <url-pattern>/ViewAllBook</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetAllUser</servlet-name>
    <servlet-class>user.GetAllUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAllUser</servlet-name>
    <url-pattern>/GetAllUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ViewAllUser</servlet-name>
    <jsp-file>/ViewAllUser.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewAllUser</servlet-name>
    <url-pattern>/ViewAllUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetIssuedBook</servlet-name>
    <servlet-class>book.GetIssuedBook</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetIssuedBook</servlet-name>
    <url-pattern>/GetIssuedBook</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ViewIssuedBook</servlet-name>
    <jsp-file>/ViewIssuedBook.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewIssuedBook</servlet-name>
    <url-pattern>/ViewIssuedBook</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Logout</servlet-name>
    <servlet-class>Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
</web-app>